html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 48px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
}

#welcome {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 48px;
}

.navbar .brand {
  padding-left: 10px;
}

.navbar-inner {
  padding: 5px;
  background-color: #DDDDDD;
  background-image: -moz-linear-gradient(top, #DDDDDD, #AAAAAA);
  background-image: -ms-linear-gradient(top, #DDDDDD, #AAAAAA);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DDDDDD), to(#AAAAAA));
  background-image: -webkit-linear-gradient(top, #DDDDDD, #AAAAAA);
  background-image: -o-linear-gradient(top, #DDDDDD, #AAAAAA);
  background-image: linear-gradient(top, #DDDDDD, #AAAAAA);

  border: none;
}

.sidebar {
  border-right: 1px solid #ddd;
}

.centered {
  text-align: center;
}
