html {
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 50px;
}

h1 {
  font-size: 48px;
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

.navbar-brand {
  padding: 6px 20px;
}

.navbar-right {
  display: none;
}

.content {
  display: none;
  background: white;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.sidebar a {
  color: white;
  font-size: 1.2em;
}

.add-contact-button {
  margin: 5px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #333;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar a:hover,
.nav-sidebar a:focus {
  color: #428bca;
  background-color: white;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

#compose-button {
  float: right;
}

#new-invite-code {
  width: 524px;
}

.contact-code {
  font-size: 1.2em;
  font-weight: bold;
}

#checkmark {
  color: white;
  background: #5cb85c;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 100px;
  line-height: 100px;
  vertical-align: middle;
  margin: 0 auto;
}

/* Placeholder for Bob in the contact list */
#bobline {
  display: none;
}


/* Everything below is a silly loading throbber */

.gmb-loader {
  font-size: 0;
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.gmb-loader div {
  background: #428bca;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  animation: gmb-bounce 1.75s infinite;
  -webkit-animation: gmb-bounce 1.75s infinite;
  top: 50%;
  margin-top: -5px;
}

.gmb-loader div:nth-child(2) {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
  left: 50%;
  margin-left: -5px;
}

.gmb-loader div:nth-child(3) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  right: 0;
}

@keyframes gmb-bounce {
  10% {
    transform: translate3d(0, 10px, 0);
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 10px;
  }

  14% {
    height: 30px;
  }

  15% {
    height: 10px;
    transform: translate3d(0, -20px, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes gmb-bounce {
  10% {
    -webkit-transform: translate3d(0, 10px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
    height: 10px;
  }

  14% {
    height: 30px;
  }

  15% {
    height: 10px;
    -webkit-transform: translate3d(0, -20px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.8, 1);
  }

  35% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
